.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .photo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 310px;

    .photo {
      max-width: 300px;
      border-radius: 10%;

      @media @mobile {
        width: 50%;
      }
    }
  }

  .contact-items {
    min-width: 310px;
    padding: 0 20px;

    .name-container {
      padding-bottom: 30px;

      .name {
        font-family: @font-header;
        font-size: @font-size-xxx-large;

        @media @mobile {
          font-size: @font-size-xx-large;
        }
      }

      .position {
        font-size: @font-size-x-large;
        opacity: 0.5;

        @media @mobile {
          font-size: @font-size-large;
        }
      }
    }

    .contact-item {
      transition: all .5s ease;
      line-height: 3.5rem;
      font-size: @font-size-large;

      .field-name {
        color: @color-secondary;
      }

      .field-value {
        font-weight: @font-weight-bold;

        a {
          cursor: pointer;
          text-decoration: none;
          color: @color-primary;
          transition: all .5s ease;
        }
      }

      &:hover, &:hover a {
        color: @color-highlighted;
        padding-left: 5px;
      }
    }
  }

}