.education {

  .education-item {
    padding: 5px 20px 20px 20px;
    font-size: @font-size-x-large;
    transition: all .5s ease;

    @media @mobile {
      font-size: @font-size-large;
    }

    &:hover .activity-header {
      color: @color-highlighted;
    }
  }

}