@technology-icon-size: 50px;

.experience {

  .experience-item {
    padding: 5px 20px;
    font-size: @font-size-x-large;
    transition: all .5s ease;

    @media @mobile {
      font-size: @font-size-large;
    }

    &:hover .activity-header {
      color: @color-highlighted;
    }

    .details {
      transition: all 0.5s ease-in;
      visibility: hidden;
      opacity: 0;
      max-height: 0;

      &.expanded {
        visibility: visible;
        opacity: 1;
        max-height: 1500px;
      }


      .technologies {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .technology img {
          transition: all .5s ease;
          width: @technology-icon-size;
          max-width: @technology-icon-size;
          padding: 5px;
        }
      }

      .responsibilities {
        font-size: @font-size-large;
        list-style-type: square;
        list-style-position: outside;
        margin-left: 30px;

        .responsibility {
          padding: 5px 10px;
        }
      }
    }
  }

}