.languages {
  display: flex;
  flex-direction: column;

  .language {
    position: relative;
    transition: all .5s ease;

    display: flex;
    align-items: center;

    &:hover figcaption {
      color: @color-highlighted
    }

    img {
      width: 130px;
      margin: 10px;
      box-shadow: -10px -10px 20px @color-shadow;
    }

    figcaption {
      position: absolute;
      left: 160px;
      font-size: @font-size-x-large;
      font-weight: @font-weight-bold;

      transition: all .5s ease;

      @media @mobile {
        font-size: @font-size-large;
      }
    }
  }

}