@skill-icon-size: 100px;

.skills {

  .skill-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

    .category-title {
      width: 100%;
      font-weight: @font-weight-bold;
      font-size: @font-size-xx-large;
      margin: 20px 10px;

      @media @mobile {
        font-size: @font-size-x-large;
      }
    }

    .skill {
      width: @skill-icon-size;
      max-width: @skill-icon-size;
      padding: 10px;
      font-weight: @font-weight-bold;

      transition: all .5s ease;

      img {
        width: @skill-icon-size;
        height: @skill-icon-size;
      }

      figcaption {
        padding: 5px;
        text-align: center;
        word-wrap: break-spaces;
        transition: all .5s ease;
        font-size: @font-size-large;
      }

      &:hover figcaption {
        color: @color-highlighted
      }

    }

    .indent {
      height: 0;
      width: calc(@skill-icon-size + 20px);
      max-width: calc(@skill-icon-size + 20px);
    }

  }

}