@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";


@mobile:              ~"only screen and (max-width: 529px)";
@tablet:              ~"only screen and (min-width: 530px) and (max-width: 949px)";
@mobile-and-tablet:   ~"only screen and (max-width: 949px)";
@tablet-and-desktop:  ~"only screen and (min-width: 530px)";
@desktop:             ~"only screen and (min-width: 950px)";


