@font-header: 'Audiowide', cursive;
@font-text: 'Inconsolata', monospace;

@font-weight-regular: 400;
@font-weight-bold: 700;

@font-size-small: 0.9rem;
@font-size-regular: 1.2rem;
@font-size-large: 1.6rem;
@font-size-x-large: 2.5rem;
@font-size-xx-large: 4rem;
@font-size-xxx-large: 5rem;