.activity-header {

  &.expandable {
    cursor: pointer;
  }

  .title {
    transition: all .5s ease;
    font-size: @font-size-x-large;
    font-weight: @font-weight-bold;
  }

  .company {
    transition: all .5s ease;
    opacity: 0.9;
  }

  .degree {
    opacity: 0.7;
  }

  .dates {
    opacity: 0.7;
    font-size: @font-size-large;

    @media @tablet-and-desktop {
      position: absolute;
      top: 15px;
      left: -210px;
      opacity: 0.9;
    }
  }

}