body {
  margin: 0;
  background: @color-background;

  font-family: @font-text;
  font-weight: @font-weight-regular;
  font-size: @font-size-regular;
  color: @color-primary;

  cursor: default;

  .container {
    margin: 0 auto 0 auto;
    padding: 40px;
    max-width: 1240px;
    min-width: 300px;
    min-height: 100vh;

    -webkit-animation: fadein 3s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease; /* Firefox < 16 */
    -ms-animation: fadein 3s ease; /* Internet Explorer */
    -o-animation: fadein 3s ease; /* Opera < 12.1 */
    animation: fadein 3s ease;

    @media @mobile-and-tablet {
      padding: 40px 10px;
    }

    section {
      margin-bottom: 50px;
    }
  }
}
