.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: @color-background;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 300px;
    height: 107px;
  }

}