.section-header {
  font-family: @font-header;
  font-size: @font-size-xx-large;

  border-bottom: 1px solid @color-primary;
  margin-bottom: 20px;

  @media @mobile {
    font-size: @font-size-x-large;
  }
}