.skill-tooltip {

  background: @color-primary !important;
  color: @color-background !important;
  min-width: 150px;

  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 10px;
    align-self: stretch;
    font-size: @font-size-large;
    font-weight: @font-weight-bold;
    text-align: center;
  }

  .description {
    max-width: 150px;
    text-align: justify;
  }

  .c100 {
    align-self: center;
  }

  &.__react_component_tooltip {
    display: flex;
  }

  &.place-top::after {
    border-top-color: @color-primary !important;
  }

  &.place-bottom::after {
    border-bottom-color: @color-primary !important;
  }

  &.place-left::after {
    border-left-color: @color-primary !important;
  }

  &.place-right::after {
    border-right-color: @color-primary !important;
  }

}