.timeline {

  border-left: 5px solid @color-primary;
  background: @color-background;
  padding: 10px 10px 10px 20px;
  list-style: none;
  text-align: left;
  margin: 20px 30px 20px 200px;
  border-radius: 10px;

  @media @mobile {
    margin-left: 30px;
  }

  .item {

    position: relative;

    &:after {
      position: absolute;
      display: block;
      top: 15px;
      left: -30px;
      box-shadow: 0 0 0 5px @color-primary;
      background: @color-background;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      content: "";
    }

  }

}